[Desktop Entry]
Encoding=UTF-8
Name=Conceal Desktop
Comment=Conceal Desktop
Exec=/opt/conceal-desktop/bin/conceal-desktop
Terminal=false
Type=Application
Icon=/opt/conceal-desktop/src/images/conceal.png
MimeType=x-scheme-handler/concealwallet;
Categories=Office;Finance;Cryptocurrency;
