[Unit]
Description=Post Installation Updates
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/post-install-updates.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target