[Unit]
Description=Xbox Controller Driver Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/xboxdrv --daemon --detach --dbus disabled --silent
User=root
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target