[Unit]
Description=Xbox Controller Driver Service
After=network.target
StopWhenUnneeded=yes

[Service]
Type=simple
ExecStart=/usr/bin/xboxdrv
User=root
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target